<div class="card mb-3">
  <div class="row no-gutters ">
    <div class="col-md-2" >
    <div  style="width: 150px;">
      <img src="https://www.royalsmushicafe.dk/wp-content/uploads/2016/02/Profile-Placeholder.jpg" class="card-img" >
      </div>
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title"><%= @user.first_name%><%= @user.last_name%></h5>
                <p class="card-text"><small>age: <%= @user.age%></small></p>
        <p class="card-text">description: <%= @user.description%></p>
        <p class="card-text">email: <%= @user.email%></p>
        <p class="card-text"><%= link_to @user.city.name, @user.city%></p>
      </div>
    </div>
  </div>
</div>

<% @user.gossips.each do |t|%>
  
    <div class="card">
    <div class="card-body">
    <h5 class="card-title"><%= t.title %></h5>
    <p class="card-text"><%= t.content %></p>
     <% t.tag.each do |e|%>
     <a href="#" class="badge badge-primary"><%= e.title%></a>

    <% end %>
    </div>
    </div>
    <br>
<%end%>

